@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  --font-family-one: "Lato", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --font-family-two: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;

  font-family: var(--font-family-two);
}

:root {
  --black: black;
  --green: green;
  --darker-green: rgb(0, 60, 0);
  --darkest-green: rgb(0, 20, 0);
  --white: white;
  --header: rgb(204, 255, 204);
}

/* GENERAL TAG STYLES */
ul li {
  list-style: none;
}
button {
  background-color: transparent;
  height: 2.5rem;
  border: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  outline: none;
}
.error-p {
  font-size: clamp(1rem, 3vw, 1rem);
  color: red;
  position: fixed;
  bottom: 2rem;
  right: 0;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  outline: none;
  border: none;
  font-weight: bold;
}
select {
  outline: none;
}
a {
  text-decoration: none;
  outline: none;
}

/* STYLING CUSTOM COMPONENT */
/* error display */
.errorFetch {
  display: grid;
  place-content: center;
  height: 100vh;
  height: 100svh;
  text-align: center;
  font-size: clamp(1.4rem, 4vw, 1.8rem);
  letter-spacing: 0.1rem;
  line-height: 2.5rem;
}
/* logout button */
.log-out {
  background-color: red;
  padding: 1rem;
  color: var(--white);
  font-weight: bold;
  font-size: clamp(1.5rem, 4vw, 2rem);
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
/* GoBack button */
.goBack {
  font-size: 1.5rem;
  background-color: transparent;
  border: 0.1rem solid var(--white);
  color: var(--white);
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  transition: 0.1s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}
@media only screen and (min-width: 600px) {
  .goBack {
    border: 0.2rem solid var(--white);
    width: 5rem;
    height: 5rem;
    font-size: 4rem;
  }
}
/* headerGoBack */
.headerGoBack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darkest-green);
  color: var(--white);
  padding: 0.5rem;
  width: 100%;
  font-size: clamp(1.3rem, 3vw, 2rem);
}
@media only screen and (min-width: 600px) {
  .headerGoBack {
    height: 7rem;
    padding: 0 2rem;
  }
}

/* STYLING NAV BAR */
.nav-bar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60vw;
  background-color: var(--darkest-green);
  color: var(--white);
  height: 100svh;
  height: 100vh;
  padding: 2rem 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5rem;
  border-left: 5px solid var(--green);

  > :nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    > * {
      font-size: 2rem;
      background-color: var(--white);
      transition: 0.1s ease-in-out;
      padding: 0.2rem;
      border-radius: 0.5rem;

      &:hover {
        transform: scale(1.05);
      }
    }

    button {
      color: red;
    }

    a {
      display: flex;
      align-items: center;
      color: var(--green);
      position: relative;

      > :nth-child(2) {
        position: absolute;
        top: -1rem;
        right: -0.5rem;
        font-size: 0.9rem;
        font-weight: bold;
        color: var(--white);
        background-color: var(--green);
        padding: 0.3rem;
        border-radius: 0.5rem;
      }
    }
  }

  > :nth-child(2) {
    display: flex;
    flex-flow: column;
    gap: 2rem;

    li {
      background-color: var(--white);
      border-radius: 0.5rem;
      transition: 0.1s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }

      a {
        display: flex;
        justify-content: center;
        padding: 0.2rem 1.5rem;
        font-size: clamp(1.3rem, 4vw, 1.7rem);
        font-weight: bold;
        color: var(--green);
      }
    }
  }
}

/* STYLING AUTHENTICATION ROUTE */
.authentication {
  height: 100svh;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  background-color: var(--white);
  background-image: url(./assets/images/authbg.webp);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 130%;

  .auth-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    position: fixed;
    top: 0.5rem;
    left: 0;
    right: 0;
    transition: 0.1s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }

    img {
      height: 3rem;
      mix-blend-mode: multiply;
      display: flex;
      border-radius: 50%;
    }

    h1 {
      font-size: clamp(1.7rem, 3vw, 2rem);
      background: linear-gradient(to right, var(--white), rgb(0, 255, 0));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-weight: 900;
    }
  }

  .authentication-container {
    background-color: var(--white);
    box-shadow: 1px 3px 5px var(--green);
    width: 80vw;
    max-width: 400px;
    padding: 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;

    h2 {
      font-size: clamp(1.7rem, 4vw, 2.2rem);
    }

    form {
      display: flex;
      flex-flow: column;
      gap: 1rem;
      width: 100%;

      .inputBox {
        position: relative;
        display: flex;
        flex-flow: column;
        gap: 0.2rem;

        input {
          width: 100%;
          height: 2.5rem;
          border-radius: 0.5rem;
          box-shadow: 0 1px 5px var(--green);
          padding: 0.3rem;
        }

        .toggle {
          position: absolute;
          top: 0.7rem;
          bottom: 0;
          right: 0.5rem;
          color: var(--green);
        }
      }

      button {
        display: flex;
        align-items: center;
        flex-flow: column;
        justify-content: center;
        background-color: var(--green);
        color: var(--white);
        height: 2.5rem;
        width: 100%;
        border-radius: 0.5rem;
        font-size: clamp(1.5rem, 4vw, 2rem);
        font-weight: bold;
        transition: 0.1s ease-in-out;

        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }

  .sign-log {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 0.2rem;

    p {
      font-size: clamp(1.1rem, 3vw, 1.5rem);
    }

    a {
      padding: 0.5rem;
      border-radius: 0.5rem;
      background-color: var(--darkest-green);
      color: var(--white);
      font-size: clamp(1.2rem, 4vw, 1.5rem);
      font-weight: bold;
      transition: 0.1s ease-in-out;

      &:hover {
        transform: scale(1.03);
      }
    }
  }

  > :last-child {
    position: fixed;
    bottom: 1rem;
  }
}
/* ROLE ROUTE */
.role-auth {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  align-items: center;
  height: 90vh;
  overflow: hidden;

  > :first-child {
    height: 15rem;
    width: 100%;
    background-image: url("./assets/images/dashbg.webp");
    background-position: center;
    background-size: cover;
  }

  h2 {
    font-size: clamp(1.5rem, 4vw, 2rem);
    color: var(--darker-green);
  }

  > :nth-child(3) {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;

    select {
      border: 0.15rem solid var(--green);
      padding: 0.3rem 0.5rem;
      border-radius: 1rem;
      font-size: clamp(1.1rem, 3vw, 1.5rem);
      font-weight: bold;
      outline: none;
      width: 10rem;

      option {
        font-size: clamp(0.9rem, 3vw, 1rem);
      }
    }

    button {
      height: 2.5rem;
      width: 10rem;
      background-color: var(--green);
      border-radius: 1rem;
      color: white;
      font-size: clamp(1.3rem, 3vw, 1.7rem);
      font-weight: bold;
      box-shadow: 1px 3px 5px var(--black);
      transition: 0.1s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .consent-disclaimer {
    font-family: var(--font-family-two);
    font-size: clamp(1rem, 3vw, 1.4rem);
    text-align: center;
    background-color: var(--darkest-green);
    color: var(--white);
    width: 80%;
    max-width: 700px;
    padding: 0.5rem;
    border: 0.1rem solid var(--darkest-green);
    border-radius: 0.5rem;
    box-shadow: 2px 3px 8px var(--green);
    transition: 0.1s ease-in-out;

    &:hover {
      transform: scale(1.03);
    }
  }
}
@media only screen and (min-width: 600px) {
  /* authentication */
  .authentication {
    background-size: cover;
  }
}

/* STYLING HEADER */
.header {
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darkest-green);
  padding: 0 0.8rem;

  .header-div {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    > img {
      height: 3rem;
      border-radius: 50%;
    }

    h1 {
      font-size: clamp(1.5rem, 4vw, 2rem);
      background: linear-gradient(to right, var(--white), var(--green));
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    }
  }

  h2 {
    font-size: clamp(1.7rem, 4vw, 2rem);
    color: var(--white);
  }

  button {
    font-size: clamp(1.7rem, 4vw, 2rem);
    padding: 0.2rem;
    border-radius: 0.5rem;
    height: fit-content;
    color: var(--white);
    box-shadow: 1px 2px 4px var(--white);
  }

  a {
    display: none;
  }
}
@media only screen and (min-width: 600px) {
  /* authentication */
  .header {
    height: 7rem;
    padding: 0 2rem;

    img {
      height: 5rem;
    }

    button {
      display: none;
    }

    a {
      display: block;
      transition: 0.1s ease-in-out;
      background-color: var(--white);

      &:hover {
        transform: scale(1.05);
      }
    }

    .link-one {
      font-size: 4rem;
      color: red;
      padding: 0.1rem;
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
    }

    .link-two {
      color: var(--green);
      font-size: 2rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      font-weight: bold;
    }
  }
}

/* STYLING PAGE END */
.page-end {
  background-color: var(--darkest-green);
  position: fixed;
  bottom: 0.1rem;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.5rem;

  > * {
    background-color: var(--white);
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    color: var(--darkest-green);
    font-size: clamp(1.3rem, 4vw, 1.7rem);
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 0.1rem;
    height: 1.5rem;
    transition: 0.1s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}

/* STYLING FAQ SECTION */
.faq-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;

  .faq-div {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    padding: 0 0.5rem;
    width: 90vw;
    max-width: 900px;

    .faq-item {
      background-color: var(--darkest-green);
      border-radius: 0.5rem;
      overflow: hidden;
      border: none;
      box-shadow: 1px 3px 5px var(--darkest-green);
    }
  }

  summary {
    font-weight: bold;
    cursor: pointer;
    color: var(--white);
  }

  details {
    border-radius: 5px;
    padding: 10px;
    background-color: var(--green);
  }

  p {
    margin-top: 1rem;
    color: var(--black);
  }

  .support {
    display: flex;
    flex-flow: column;
    gap: 0.7rem;
    background-color: var(--darkest-green);
    color: var(--white);
    width: 100%;
    padding: 0.5rem;

    h3 {
      font-size: clamp(1.3rem, 4vw, 1.7rem);
      font-weight: bold;
    }

    ul {
      display: flex;
      flex-flow: column;
      gap: 0.2rem;
    }
  }
}
@media only screen and (min-width: 600px) {
  .faq-container {
    .support {
      padding: 1rem 4rem;
    }
  }
}

/* STYLING PROFILE ROUTE */
.profile {
  display: flex;
  flex-flow: column;
  gap: 1rem;

  .profile-details {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    align-items: center;
    padding: 0 0.5rem;

    > div {
      background-color: var(--green);
      color: var(--white);
      font-size: clamp(1.4rem, 5vw, 1.7rem);
      border-radius: 0.5rem;
      padding: 0 0.5rem;
      width: 100%;
      height: 3rem;
      display: flex;
      align-items: center;
      gap: 0.3rem;

      span {
        color: var(--darkest-green);
        font-weight: bold;
      }
    }

    button {
      background-color: var(--darkest-green);
      padding: 0.5rem;
      color: white;
      border-radius: 0.5rem;
      font-size: clamp(1.4rem, 5vw, 1.7rem);
    }
  }
}
@media only screen and (min-width: 600px) {
  /* profile */
  .profile {
    .profile-details {
      padding: 0 2rem;

      > div {
        padding: 2.5rem 1rem;
        border-radius: 1rem;
      }
    }
  }
}
/* OVERLAY */
.floating-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  width: 80vw;
  max-width: 500px;
  border: 1px solid var(--green);
  border-radius: 1rem;
  box-shadow: 1px 3px 5px var(--darkest-green);
  padding: 1rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;

  h3 {
    font-size: clamp(1.4rem, 4vw, 1.7rem);
  }

  form {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    width: 100%;

    > :nth-child(1),
    > :nth-child(2) {
      display: flex;
      flex-flow: column;
      gap: 0.3rem;
    }

    input {
      width: 100%;
      color: var(--black);
      padding: 0.5rem;
      border-radius: 0.5rem;
      box-shadow: 0 2px 5px var(--darkest-green);
    }

    p {
      font-size: 0.9rem;
      color: black;
    }

    > :last-child {
      display: flex;
      justify-content: space-between;

      > * {
        font-weight: bold;
        font-size: clamp(1.5rem, 4vw, 2rem);
        padding: 0.4rem;
        border-radius: 0.7rem;
        color: var(--white);
        transition: 0.1s ease-in-out;
        height: 2.5rem;
        width: 7rem;

        &:hover {
          transform: scale(1.05);
        }
      }

      > :nth-child(1) {
        background-color: var(--green);
      }
      > :nth-child(2) {
        background-color: var(--darkest-green);
      }
    }
  }
}

/* STYLING USER VIEW */
/* home */
.user-route {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 0.5rem;

  h3 {
    font-size: clamp(1rem, 4vw, 1.4rem);
    color: var(--darkest-green);
  }

  > :nth-child(2) {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(./assets/images/dashbg.webp);
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 3px 5px var(--darkest-green);

    > div {
      color: var(--green);
      font-size: clamp(1.5rem, 4vw, 2rem);
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 0.5rem;
      border-radius: 1rem;

      span {
        color: var(--darkest-green);
        font-weight: bold;
      }
    }
  }

  > :nth-child(3) {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;

    h3 {
      font-size: clamp(1rem, 4vw, 1.4rem);
    }

    > ul {
      display: flex;
      justify-content: space-between;
      flex-flow: wrap;
      gap: 1rem;

      li {
        border-radius: 50%;
        transition: 0.1s ease-in-out;
        box-shadow: 1px 3px 5px var(--darkest-green);

        &:hover {
          transform: scale(1.05);
        }

        a {
          border: 1px solid var(--green);
          border-radius: 50%;
          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;
          padding: 0.2rem;
          height: 5rem;
          min-width: 5rem;
          font-weight: bold;
          color: var(--green);
          font-size: 0.8rem;

          > :nth-child(2) {
            font-size: clamp(1.5rem, 4vw, 2rem);
          }
        }

        &:nth-child(2) {
          a {
            color: var(--darker-green);
          }
        }
        &:nth-child(3) {
          a {
            color: var(--darkest-green);
          }
        }
      }
    }
  }

  .chain-log {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    margin-bottom: 2rem;

    ul {
      background-color: var(--white);
      border: 0.2rem solid var(--darkest-green);
      height: 35vw;
      max-height: 15rem;
      overflow-y: scroll;
      padding: 0.5rem;
      border-radius: 1rem;
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 1rem;

      li {
        width: 100%;
        background-color: var(--black);
        box-shadow: 1px 3px 5px var(--green);
        color: rgb(153, 192, 153);
        text-align: center;
        padding: 0.3rem;
        border-radius: 1rem;
        transition: 0.1s ease-in-out;

        &:hover {
          transform: scale(1.03);
        }
      }

      .chain-log-none {
        background-color: var(--darkest-green);
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        border-radius: 1rem;

        > div {
          color: var(--white);
          font-size: clamp(1.3rem, 3vw, 1.6rem);
        }
      }
    }
  }
}
@media only screen and (min-width: 600px) {
  .user-route {
    padding: 0 2rem;

    h3 {
      margin-top: 0.5rem;
    }

    > :nth-child(2) {
      padding: 4rem 0;
    }
  }
}
/* recycle route */
.recycle {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 70vh;
  align-items: center;

  > :nth-child(2) {
    width: 100%;
    padding: 0 0.5rem;

    form {
      background-color: var(--green);
      border-radius: 1rem 0.5rem;
      padding: 1rem;
      box-shadow: 1px 3px 5px var(--darkest-green);
      display: flex;
      flex-flow: column;
      gap: 1rem;

      select {
        font-size: clamp(1.2rem, 4vw, 1.5rem);
        font-weight: bold;
        color: var(--black);

        option {
          font-size: clamp(1rem, 4vw, 1.4rem);
        }
      }

      > * {
        padding: 0.5rem;
        border-radius: 0.5rem;
      }

      input {
        color: var(--black);

        &::placeholder {
          color: var(--black);
          font-weight: lighter;
        }
      }

      button {
        color: var(--white);
        font-size: clamp(1.5rem, 4vw, 2rem);
        font-weight: bold;
        height: clamp(2.5rem, 10vh, 4rem);
        width: 100%;
        background-color: var(--darkest-green);
        transition: 0.1s ease-in-out;

        &:hover {
          transform: scale(1.03);
        }
      }
    }
  }
}
@media only screen and (min-width: 600px) {
  .recycle {
    height: 90vh;

    > :nth-child(2) {
      padding: 0 4rem;

      form {
        padding: 2rem;

        input {
          font-size: 2rem;
        }
      }
    }
  }
}
.anim-container {
  width: 5rem;
}
/* feedback route */
.feedback {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  height: 70vh;

  form {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1.5rem;
    background-color: var(--green);
    width: 90%;
    max-width: 600px;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 1px 3px 5px var(--darkest-green);

    > div {
      display: flex;
      flex-flow: column;
      align-items: center;
      width: 100%;
    }

    label {
      font-size: clamp(1.5rem, 3vw, 2rem);
      font-weight: bold;
    }

    input {
      width: 90%;
      border-radius: 0.5rem;
      padding: 0.5rem;
      box-shadow: 1px 3px 5px var(--darkest-green);
    }

    textarea {
      width: 90%;
      box-shadow: 1px 3px 5px var(--darkest-green);
      height: 5rem;
      font-size: clamp(1rem, 4vw, 2rem);
    }

    button {
      height: 2.5rem;
      width: 70%;
      border-radius: 0.5rem;
      color: var(--green);
      font-weight: bold;
      font-size: clamp(1.3rem, 4vw, 2rem);
      box-shadow: 1px 3px 5px var(--darkest-green);
      transition: 0.1s ease-in-out;
      color: var(--white);

      &:hover {
        transform: scale(1.05);
      }
    }

    /* file upload */
    .fileBox {
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 1rem;

      img {
        height: 100%;
        width: 100%;
      }

      label {
        background-color: var(--darkest-green);
        color: white;
        border-radius: 0.5rem;
        width: 8rem;
        height: 5rem;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;

        p {
          font-size: 0.8rem;
          text-align: center;
        }
      }
    }
  }
}
@media only screen and (min-width: 600px) {
  .feedback {
    form {
      button {
        height: 4rem;
      }
    }
  }
}

/* STYLING METRICS ROUTE */
.metrics-container {
  display: flex;
  flex-flow: column;
  gap: 1rem;

  .grid {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    padding: 0 0.5rem;
  }

  .card {
    border: 1px solid var(--green);
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: 1px 3px 5px var(--darkest-green);
    display: flex;
    flex-flow: column;
    gap: 0.7rem;
  }

  .subtitle {
    font-size: clamp(1.5rem, 4vw, 2rem);
  }

  p {
    font-size: clamp(1rem, 3vw, 1.4rem);
  }

  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-flow: column;
    gap: 0.3rem;
  }

  span {
    font-weight: bold;
  }
}

/* STYLING NOTIFICATIONS ROUTE */
.notifications {
  display: flex;
  flex-flow: column;
  gap: 2rem;

  > :nth-child(2) {
    padding: 0 0.5rem;

    .user-notification {
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 1rem;

      button {
        padding: 0.5rem;
        border-radius: 1rem;
        box-shadow: 1px 3px 5px var(--darkest-green);
        color: var(--black);
        font-size: clamp(1.3rem, 4vw, 1.6rem);
        font-weight: bold;
        background-color: var(--white);
        width: fit-content;
        transition: 0.1s ease-in-out;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  .notification-display {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    background-color: var(--white);

    ul {
      border-radius: 1rem;
      padding: 1rem;
      width: 100%;
      display: flex;
      flex-flow: column;
      gap: 0.7rem;
      box-shadow: 1px 3px 7px var(--darkest-green);

      li {
        background-color: var(--darkest-green);
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-radius: 1rem;
        box-shadow: 1px 2px 3px var(--green);
        color: var(--white);
        font-size: clamp(1rem, 4vw, 1.4rem);
        transition: 0.1s ease-in-out;

        &:hover {
          transform: scale(1.03);
        }
      }
    }

    div {
      color: var(--black);
      font-weight: bold;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem;
    }
  }
}
@media only screen and (min-width: 600px) {
  .notifications {
    > :nth-child(2) {
      padding: 0 4rem;
    }
    .notification-display {
      ul {
        li {
          height: 10rem;
        }
      }
    }
  }
}

/* STYLING ADMIN ROUTE */
/* users */
.admin-users {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;
  padding-bottom: 4rem;

  > :nth-child(2) {
    padding: 0.5rem;
    box-shadow: 1px 3px 5px var(--darkest-green);
    border-radius: 0.5rem;
    width: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;

    li {
      background-color: var(--darkest-green);
      padding: 0.5rem;
      border-radius: 0.5rem;
      display: flex;
      flex-flow: column;
      gap: 0.5rem;
      color: var(--white);
      width: 100%;

      button {
        background-color: red;
        color: var(--white);
        display: flex;
        width: 100%;
        align-items: center;
        height: 2.5rem;
        border-radius: 1rem;
        font-size: clamp(1.5rem, 4vw, 2rem);
        transition: 0.1s ease-in-out;

        &:hover {
          transform: scale(1.03);
        }
      }
    }

    div {
      font-weight: bold;
      font-size: large;
    }
  }
}
@media only screen and (min-width: 600px) {
  .admin-users {
    > :nth-child(2) {
      padding: 1.5rem 4rem;
      gap: 2rem;

      li {
        justify-content: space-between;
        height: 15rem;
        border-radius: 2rem;
        padding: 2rem;

        button {
          height: 3.5rem;
        }
      }
    }
  }
}
/* admin features */
.features {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;
  padding: 0 0 1rem;

  > :nth-child(2) {
    width: 90%;
    display: flex;
    flex-flow: column;
    gap: 1rem;

    li {
      background-color: var(--darkest-green);
      color: var(--white);
      padding: 0.7rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 1rem;
      font-size: clamp(1.3rem, 4vw, 1.6rem);
      font-weight: bold;
      box-shadow: 1px 3px 5px var(--darkest-green);
    }
  }
}
/* admin analytics */
.analytics {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;
  padding: 0 0 1rem;

  > :nth-child(2) {
    width: 100%;
    padding: 0 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;

    li {
      background-color: var(--white);
      border-radius: 1rem;
      transition: 0.1s ease-in-out;
      box-shadow: 1px 3px 10px var(--green);
      height: 10rem;
      width: 45vw;
      max-width: 15rem;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      color: var(--darkest-green);
      font-weight: bold;
      font-size: larger;

      &:hover {
        transform: scale(1.05);
      }

      > div {
        font-size: clamp(1.5rem, 4vw, 2rem);
      }
    }
  }
}
@media only screen and (min-width: 600px) {
}

/* STYLING COLLABORATIONS */
.collaborations {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  align-items: center;

  ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    padding: 1rem 0;

    li {
      background-color: var(--darkest-green);
      box-shadow: 1px 3px 5px var(--green);
      color: var(--white);
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid var(--green);
      display: flex;
      flex-flow: column;
      gap: 0.2rem;
      width: 90%;
      max-width: 20rem;
      height: 9rem;

      h2 {
        font-size: clamp(1.5rem, 4vw, 1.8rem);
        font-weight: 900;
      }

      > div {
        font-size: clamp(0.8rem, 1vw, 1.3rem);
      }
    }
  }
}

/* SIMULATION ROUTE */
.video-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100vh;
  height: 100svh;
  padding-bottom: 2rem;

  > :nth-child(2) {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1.5rem;
    padding: 0 0.5rem;

    video {
      width: 100%;
      height: auto;
      display: block;
      border: 0.1rem solid var(--green);
      border-radius: 0.5rem;
    }

    .video-options a {
      display: inline-block;
      padding: 10px 20px;
      background-color: var(--green);
      color: var(--white);
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    .video-options a:hover {
      background-color: var(--darker-green);
    }
  }
}

/* sliding */
.sliding {
  padding: 0.2rem;
  width: 100%;

  .sliding-div {
    width: 100%;
    display: flex;
    gap: 3.5rem;

    > * {
      background-size: contain;
      background-position: center;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      box-shadow: 1px 3px 5px var(--darkest-green);
      transition: 0.1s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    > :nth-child(1) {
      background-image: url("./assets/images/one.webp");
    }
    > :nth-child(2) {
      background-image: url("./assets/images/two.webp");
    }
    > :nth-child(3) {
      background-image: url("./assets/images/three.webp");
    }
  }
}

/* Fix zoom bug on clicking input on mobile devices */
@media screen and (max-width: 767px) {
  input,
  textarea {
    font-size: 16px !important;
  }
}

/* REMOVE INPUT ARROWS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Add style for textarea */
textarea {
  padding: 0.5rem !important;
  resize: none;
  border-radius: 0.5rem;
  outline: none;
  color: var(--black);
  font-weight: bold;
}

button:hover {
  cursor: pointer;
}

/* HIDE FILE INPUT */
input[type="file"] {
  display: none;
}
